<Config>
  <BindAddress>*</BindAddress>
  <Port>7878</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>d9bac69600744fc6900565db46c1c87e</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <Branch>master</Branch>
  <LogLevel>trace</LogLevel>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UrlBase></UrlBase>
  <InstanceName>Radarr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
  <PostgresUser>radarr</PostgresUser>
  <PostgresPassword>radarr</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>192.168.0.102</PostgresHost>
  <AnalyticsEnabled>False</AnalyticsEnabled>
</Config>